.scanner {
  display: flex;
  justify-content: center;
  position: relative;
  height: 75vh;
  width: 100%;
}
.scanButton {
  position: absolute;
  bottom: 0;
  padding: 0.5em 2em;
}
#outputDiv {
  width: 100%;
  height: 100%;
}
#result {
  position: absolute;
  bottom: 12%;
  /* padding: 0.8em 1.2em; */
}